.env
__pycache__/
*.py[cod]
*.sqlite3
*.log

.DS_Store
Thumbs.db

.pytest_cache/

.docker/
.dockerignore
dockercompose.override.yml

.vscode
.idea/

*.exe
*.dll
*.so
*.dylib

venv/
env/
node_modules/

*.egg-info/
dist
build
